@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --toastify-color-light: #222233;
  --toastify-text-color-light:#fff;
  --toastify-color-success: #4AD092;
  --toastify-color-info:#0579F9;
  --toastify-color-error:#C70D3A;
  --toastify-font-family:poppins;
}

h1,
h2,
h3 {
  @apply font-poppins;
}

body {
  @apply font-saira bg-dark-100 text-white;
  font-weight: 300;
}

.Toastify__close-button {
  color:#fff
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-20;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-md;
}


